useDynLib(ChIPseqR, startScore_pois)

import(methods)

importClassesFrom(Biostrings, XString, XStringSet, XStringViews)
importClassesFrom(IRanges, RleList, IRanges)
importClassesFrom(ShortRead, AlignedRead)

importMethodsFrom(BiocGenerics, score, image)
importMethodsFrom(Biostrings, quality)
importMethodsFrom(GenomicRanges, strand)
importMethodsFrom(IRanges, Views, coverage)
importMethodsFrom(S4Vectors, unlist, lapply, sapply, elementNROWS, width)
importMethodsFrom(ShortRead, chromosome, position, readAligned)

importFrom(Biostrings, mkAllStrings, writeXStringSet)
importFrom(fBasics, divPalette, seqPalette)
importFrom(graphics, abline, axis, grconvertY, hist, image, layout,
           legend, lines, matplot, mtext, par, plot, rect, title)
importFrom(grDevices, col2rgb, dev.off, devAskNewPage, hsv, pdf, rgb,
           rgb2hsv)
importFrom(HilbertVis, hilbertImage)
importFrom(ShortRead, alignQuality)
importFrom(IRanges, RleList, slidingViews, viewApply, ranges, mid)
importFrom(stats, dnorm, median, optimize, p.adjust, pchisq, pnorm,
           ppoints, qnorm, qqline, qqnorm, quantile, smooth.spline)
importFrom(timsac, fftcor)
importFrom(utils, head, tail)


exportPattern("^[[:alpha:]]+[^_][[:alnum:]]*$")
exportClasses(ReadCounts, BindScore, RLEReadCounts, RLEBindScore)
exportMethods(strandPileup, callBindingSites, "[[", "[", "$", names, "[[<-", "[<-", "$<-", "names<-", 
     lapply, sapply, as.data.frame, head, tail, min, max, range, nreads, chrLength, score, pvalue, 
     peaks, cutoff, "cutoff<-", nullDist, "nullDist<-", plot, compress, decompress)
